<div class="form-group">
  <label for="car-name">Car Name</label>
  <input class="form-control"
         type="text"
         [(ngModel)]="carName"
         id="car-name"
         aria-describedby="carNameHelp"
         placeholder="Car Name">
  <small id="carNameHelp" class="form-text text-muted">Enter car name.</small>
</div>

<div class="form-group">
  <label for="car-model">Car Model</label>
  <input class="form-control"
         type="text"
         [(ngModel)]="carModel"
         id="car-model"
         aria-describedby="carModelHelp"
         placeholder="Car Model">
  <small id="carModelHelp" class="form-text text-muted">Enter car model.</small>
</div>

<button type="button"
        class="btn btn-outline-primary mr-2"
        (click)="onAdd()"
>
  Add Car
</button>
<button type="button"
        class="btn btn-outline-warning"
        (click)="onLoad()"
>
  Load Cars
</button>

