<div class="form-group">
  <label for="car-name">Email address</label>
  <input class="form-control"
         id="car-name"
         aria-describedby="carNameHelp"
         placeholder="Car Name">
  <small id="carNameHelp" class="form-text text-muted">Enter car name.</small>
</div>

<div class="form-group">
  <label for="car-model">Email address</label>
  <input class="form-control"
         id="car-model"
         aria-describedby="carModelHelp"
         placeholder="Car Name">
  <small id="carModelHelp" class="form-text text-muted">Enter car model.</small>
</div>

<button type="button" class="btn btn-outline-primary mr-2">Add Car</button>
<button type="button" class="btn btn-outline-warning">Load Cars</button>

